@page
@model AuthorsBookCatalogue.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.BookId" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.DateCreated" class="control-label"></label>
                <input asp-for="Book.DateCreated" class="form-control" />
                <span asp-validation-for="Book.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookType" class="control-label"></label>
                <input asp-for="Book.BookType" class="form-control" />
                <span asp-validation-for="Book.BookType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Language" class="control-label"></label>
                <input asp-for="Book.Language" class="form-control" />
                <span asp-validation-for="Book.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <input asp-for="Book.ImageUrl" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Dimensions" class="control-label"></label>
                <input asp-for="Book.Dimensions" class="form-control" />
                <span asp-validation-for="Book.Dimensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Rating" class="control-label"></label>
                <input asp-for="Book.Rating" class="form-control" />
                <span asp-validation-for="Book.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
